table, th, td
{
	border: 2px solid;
	border-collapse: collapse;
}

th {
    background-color: #f1f1f1;
}

.nameCol {
	width: 150px;
	text-align: center;
}

.totalCol {
	width: 150px;
	text-align: center;
}

.clearButton{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.totalText {
    background-color: #f1f1f1;
	font-size: 24px;
	font-weight: bold;
}

.nameText {
    background-color: #f1f1f1;
	font-size: 24px;
	font-weight: bold;
}

.maxCol {
	width: 150px;
	text-align: center;
}

.frameTotal {
    background-color: #f1f1f1;
	text-align: center;
    height: 26px;
}

.shotResultBtn {
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

.clearShotResultBtn {
    width: auto;
}

.buttonDiv {
    margin: 20px 100px 20px 100px;
}

.frame {
    width:50px;
    padding: 3px 0px 3px 0px;
    text-align: center;
    height: 26px;
}

.scoreHeader {
    padding: 3px 0px 3px 0px;
}

.scoreFooter {
    padding: 3px 0px 3px 0px;
}

.selectedCell {
    background-color: lightgrey;
    text-align: center;
}
