table, th, td
{
	border: 2px solid;
	border-collapse: collapse;
}

th {
    background-color: #f1f1f1;
}
.nameCol {
	width: 150px;
	text-align: center;
}

.totalCol {
	width: 150px;
	text-align: center;
}

.totalText {
    background-color: #f1f1f1;
	font-size: 24px;
	font-weight: bold;
}

.nameText {
    background-color: #f1f1f1;
	font-size: 24px;
	font-weight: bold;
}

.maxCol {
	width: 150px;
	text-align: center;
}

.frameTotal {
    background-color: #f1f1f1;
	text-align: center;
	height: 18px;
}

.shotResult {
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

.buttonDiv {
    margin: 20px 100px 20px 100px;
}

.frame {
    padding: 3px 0px 3px 0px;
}

.scoreHeader {
    padding: 3px 0px 3px 0px;
}

.scoreFooter {
    padding: 3px 0px 3px 0px;
}

input {
    border: none;
    align-content: center;
    text-align: center;
}
