center {
    text-align: center;
    align-content: center;
}

input {
    padding: 5px;
    border: none;
    align-content: center;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

th, td, tr {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table.series, table.series tr, table.series td {
    border: 1px solid grey;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.frame {
    border: 1px solid grey;
    border-collapse: collapse;
}

table.score, table.score tr, table.score td {
    padding: 5px;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}
